div#container { font:1.2em / 140% 'MS Sans Serif'; }

div#wrapper {
  font-family: helvetica;
background-color:#303030;
border: 0.25px white;
width: auto;
}

div#kopfbereich {
background-color:#303030;
white;color:black;
border:1px white;
width: auto;
}

div#textbereich {
padding-left:60px;
background-color:#303030;
color:black;
border: 1px solid white;
height: 1000px;
width:auto;
}

div#fussbereich {
background-color:#303030;
color:black;
height:auto;
width:auto;
}
